.bottom-banners
    img.bottom-banners__raif(src="./assets/img/content/raiffeisen_banner.webp" alt="")
    img.bottom-banners__toch(src="./assets/img/content/tochka_banner.webp" alt="")
    img.bottom-banners__sber(src="./assets/img/content/gif_banner.webp" alt="")
