section.form
    .form__inner
        h2.form__title Оставьте заявку
        h4.form__subtitle и получите скидку 10% на первый месяц обслуживания
        form.form__content
            input.form__content-name(placeholder="Ваше имя")
            input.form__content-email(placeholder="E-mail")
            textarea.form__content-textarea(placeholder="Ваш вопрос")
