include ../mixins/section-title

- const textSection = [{title: "Кадровый аутсорсинг", content: `В штате нашей компании работают специалисты высокой квалификации, которые способны проводить весь комплекс работ, связанный с кадровыми вопросами, а также решать спорные моменты во взаимоотношениях подчиненных и руководителей. Мы постоянно заботимся о повышении квалификации наших сотрудников в области кадрового учёта. Мы готовы предоставить вам специалистов на различные должности кадрового и бухгалтерского аутсорсинга. Все наши сотрудники имеют высокую профессиональную квалификацию и регулярно проходят специальное обучение.`}, {title: "Бухгалтерский аутсорсинг", content: "Наша компания располагает широкими возможностями по бухгалтерскому аутсорсингу, и готова взять на себя полное или частичное бухгалтерское обслуживание вашей компании. В нашем штате работают специалисты различной направленности, что позволяет предоставлять аутсорсинговые услуги на высоком профессиональном уровне. Мы гарантируем высокую эффективность наших сотрудников при ведении вашей бухгалтерии."}]

mixin outsource_content(title, content)
    .outsource__inner
        h3.outsource__title= title
        p.outsource__content= content

section.text-section
    +section_title('Аутсорсинговая компания "*"')
    .text-section__top.--svg__text_top
        p.text-section__top-descr Компания «*» готова предложить услуги по бухгалтерскому и кадровому аутсорсингу на высоком профессиональном уровне.  Услуги данного вида крайне актуальны для небольших компаний, которые не имеют возможности для организации полноценной работы отдела кадров. Для некоторых крупных компаний нет особой необходимости нанимать бухгалтерских работников, а гораздо эффективнее переложить их функции на аутсорсинговую компанию.
    img.text__section-img(src="./assets/img/text-section-img.webp" alt="")
    .text-section__container
        each content in textSection
            +outsource_content(content.title, content.content)
